<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link href="//fonts.googleapis.com/css?family=Oxygen|Open+Sans:300,400" rel="stylesheet" type="text/css">
    <link href="/static/thirdparty/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/app.css?v={{version}}" rel="stylesheet" type="text/css">

    {{{renderCSSTags css}}}
    <script type="text/javascript" src="/static/thirdparty/modernizr/modernizr.js?v={{version}}"></script>
</head>
<body>


    {{> default/topbar user}}

    {{{renderFlashMsg}}}

    {{{body}}}


    <script src="/static/thirdparty/requirejs/require.js?v={{version}}"></script>
    <script src="/static/main.js?v={{version}}"></script>
    {{{renderJSTags js}}}
</body>
</html>
