<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/app.css">

  <!-- Compiled and minified JavaScript -->
    {{{renderCSSTags css}}}
</head>
<body>
    <header>
        <a href="/" class="site-title"><i class="fa fa-umbrella"></i> singlehood</a>
        <ul class="nav-links">
            {{#if user}}
                <li><a href="/logout">Logout</a></li>
            {{/if}}
        </ul>
    </header>
    <!-- {{{renderFlashMsg}}} -->

    {{{body}}}



    <script src="/static/thirdparty/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.0/js/materialize.min.js"></script>
    {{{renderJSTags js}}}
    <script src="/static/js/app.js"></script>
    <!-- Not so important google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</body>
</html>
